.page-404-sec-wrp {
    padding-bottom: 85px;
    padding-top: 50px;
}
.page-404-dsc-wrp{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.page-404-dsc-wrp .title-404 {
    
}
.title-404{
    display: inline-block;
    vertical-align: baseline;
    padding-bottom: 40px;
    color: #141414;
    font-size: 96px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.page-404-dsc-wrp span {
    display: block;
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #141414;
    font-weight: 700;
    padding-bottom: 20px;
}
.page-404-dsc-wrp p {
    margin-bottom: 60px;
}
.page-404-btn{
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-404-sec-wrp{
    position: relative;
    z-index: 9;
}
.page-contant-sec{
    padding-top: 60px;
    padding-bottom: 60px;
}
@media (max-width: 1199px){
    .page-contant-sec{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (max-width: 991px){
    .page-contant-sec{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media (max-width: 767px){
    .page-contant-sec{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
@media (max-width: 359px){
    .page-404-btn a{
        max-width: 100%;
    }
}