.ftr-inner {
    display: flex;
    padding-top:50px;
}
.ftr-logo a{
	display: inline-block;
	max-width:211px;

}
.ftr-left {
    max-width: 20%;
    width: 100%;
}

.ftr-rgt {
    max-width: 80%;
    width: 100%;
}