.hm-banner{
	position: relative;
	overflow: hidden;
}
.hm-banner-bg{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 3;
}
.has-video .hm-banner-bg{
	display: none;
}
.hm-banner-bg-overlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 4;
	background: rgba(255,255,255,0.4);
}
.hm-banner-bg-black{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 1;
	background: #000;
}
.hm-video-cntlr {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
}
#bnr-vdo {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 4;
}
.has-video .hm-video-cntlr{
	display: block;
}
.hm-banner-desc-cntlr{
	height: 850px;
	padding-top: 120px;
	padding-bottom: 100px;
	position: relative;
	z-index: 10;
}
.hm-bnr-desc{
	max-width: 515px;
	width: 100%;
}
.hm-bnr-desc-title{
	font-family: 'Museo-Sans-300';
	line-height: 1.4;
	color: #fff;
	margin-bottom: 45px;
}
.hm-bnr-desc-btn .fl-white-btn.fl-btn:hover{
	border-color: #fff;
	color: #fff;
}



/*community-services-sec*/
.community-services-sec{
	padding-top: 70px;
	padding-bottom: 50px;
	background: #fa5e25;
	position: relative;
}
.cmnuty-srvcs-top-skew{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-top: -302px;
	height: 304px;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 100% 100%!important;
	z-index: 10;
}
.cmnuty-srvcs-entry-header .sec-entry-header-title{
	color: #fff;
}
.sec-entry-header.cmnuty-srvcs-entry-header{
	margin-bottom: 58px;
}
.cmnuty-srvcs-entry-header.sec-entry-header p{
	color: #fff;
}
.cmnuty-srvcs-grid{
	margin: 0 -35px;
	display: flex;
	flex-wrap: wrap;

}
.cmnuty-srvcs-item-cntlr{
	padding: 0 35px;
	width: 25%;
	margin-bottom: 40px;
}
.cmnuty-srvcs-item{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.cmnuty-srvcs-item-img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 161px;
	height: 161px;
	background: #fff;
	margin-bottom: 30px;
	border-radius: 50% 50%;
}
.cmnuty-srvcs-item-img img{
	display: inline-block;
	max-height: 78px;
	width: auto;
}
.cmnuty-srvcs-item-desc-cntlr{
	padding: 0 5px;
}
.cmnuty-srvcs-item-title{
	color: #fff;
	text-align: center;
	margin-bottom: 17px;
}
.cmnuty-srvcs-item-desc p{
	color: #fff;
	text-align: center;
}
.cmnuty-srvcs-item-desc p:last-of-type{
	margin-bottom: 0;
}




/*responsive*/
@media(max-width: 1299px){
	.hm-banner-desc-cntlr{
		height: 750px;
		padding-bottom: 80px;
	}
	.cmnuty-srvcs-top-skew{
		height: 220px;
		margin-top: -218px;
	}
	.cmnuty-srvcs-grid{
		margin: 0 -15px;
	}
	.cmnuty-srvcs-item-cntlr{
		padding: 0 15px;
	}
	.community-services-sec{
		padding-bottom: 40px;
	}
}
@media(max-width: 1199px){
	.cmnuty-srvcs-top-skew{
		height: 180px;
		margin-top: -178px;
	}
	.cmnuty-srvcs-item-img{
		height: 140px;
		width: 140px;
	}
	.cmnuty-srvcs-item-img img{
		max-height: 58px;
	}
	.community-services-sec{
		padding-top: 65px;
		padding-bottom: 30px;
	}
	.cmnuty-srvcs-item-desc p br{
		display: none!important;
	}
}
@media(max-width: 991px){
	.cmnuty-srvcs-top-skew{
		height: 150px;
		margin-top: -148px;
	}
	.cmnuty-srvcs-item-img{
		height: 160px;
		width: 160px;
	}
	.cmnuty-srvcs-grid{
		max-width: 550px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.cmnuty-srvcs-item-cntlr{
		width: 50%;
	}
	.cmnuty-srvcs-item-img img{
		max-height: 65px;
	}
	.community-services-sec{
		padding-top: 55px;
		padding-bottom: 20px;
	}
	.hm-banner-desc-cntlr{
		height: 650px;
	}
	.cmnuty-srvcs-item-img{
		margin-bottom: 20px;
	}
	.cmnuty-srvcs-item-title{
		margin-bottom: 12px;
	}
}
@media(max-width: 767px){
	.hm-banner-desc-cntlr{
		padding-bottom: 60px;
	}
	.cmnuty-srvcs-top-skew{
		height: 120px;
		margin-top: -118px;
	}
	.cmnuty-srvcs-item-cntlr{
		width: 50%;
	}
	.community-services-sec{
		padding-top: 45px;
	}
	.hm-banner-desc-cntlr{
		height: 600px;
	}
	.hm-bnr-desc-title br{
		display: none!important;
	}
}
@media(max-width: 575px){
	.cmnuty-srvcs-top-skew{
		height: 100px;
		margin-top: -98px;
	}
	.cmnuty-srvcs-grid{
		margin: 0;
	}
	.cmnuty-srvcs-item-cntlr{
		width: 100%;
		padding: 0;
	}
	.cmnuty-srvcs-item-desc-cntlr{
		padding: 0;
	}
	.cmnuty-srvcs-item{
		max-width: 300px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.cmnuty-srvcs-item-img img{
		max-height: 58px;
	}
}